* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

/* Define color variables for dark theme */
:root {
    --background-color-primary-dark: #0d1117;
    --background-color-secondary-dark: #161b22;
    --border-color-primary-dark: #30363d;
    --primary-text-color-dark: #ffffff;
    --scrollbar-track-secondary-dark: #1b2029;
    --scrollbar-thumb-dark: #ffffff;
    --scrollbar-thumb-hover-dark: #505966;

    /* Define color variables for light theme */
    --background-color-primary-light: #ffffff;
    --background-color-secondary-light: #f6f8fa;
    --border-color-primary-light: #d0d7de;
    --primary-text-color-light: #1f2328;
    --scrollbar-track-secondary-light: #d4d8d9;
    --scrollbar-thumb-hover-light: #1f2328;
    --scrollbar-thumb-light: #787b80;
}

/* Use dark theme color variables by default */
@media (prefers-color-scheme: dark) {
    body {
        --background-color-primary: var(--background-color-primary-dark);
        --background-color-secondary: var(--background-color-secondary-dark);
        --border-color-primary: var(--border-color-primary-dark);
        --primary-text-color: var(--primary-text-color-dark);
        --scrollbar-track-secondary: var(--scrollbar-track-secondary-dark);
        --scrollbar-thumb-hover: var(--scrollbar-thumb-dark);
        --scrollbar-thumb: var(--scrollbar-thumb-hover-dark);
    }
}

/* Use light theme color variables if user prefers light mode */
@media (prefers-color-scheme: light) {
    body {
        --background-color-primary: var(--background-color-primary-light);
        --background-color-secondary: var(--background-color-secondary-light);
        --border-color-primary: var(--border-color-primary-light);
        --primary-text-color: var(--primary-text-color-light);
        --scrollbar-track-secondary: var(--scrollbar-track-secondary-light);
        --scrollbar-thumb: var(--scrollbar-thumb-light);
        --scrollbar-thumb-hover: var(--scrollbar-thumb-hover-light);
    }
}

/* Style the main scrollbar */
body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: var(--scrollbar-track-secondary);
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 10px;
    border: 2px solid var(--background-color-primary);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

body {
    font-family: 'Figtree', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 100vh;
    background-color: var(--background-color-primary);
    display: grid;
    place-items: center;
    color: var(--primary-text-color);
    font-size: 1rem;
    font-style: normal;
    text-decoration: none;
    box-sizing: border-box;
    cursor: none;
    margin: auto;
    max-width: 90rem;
    align-content: start;
}

.loader {
    background: var(--background-color-primary);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: grid;
    place-items: center;
    align-content: center;
    color: var(--primary-text-color);
}

.loader-animation {
    height: 0.25rem;
    width: 15rem;
    /*noinspection CssInvalidFunction*/
    --c: no-repeat linear-gradient(#6100ee 0 0);
    background: var(--c), var(--c), #d7b8fc;
    background-size: 60% 100%;
    animation: l16 2s infinite;
    margin-bottom: 2rem;
}

@keyframes l16 {
    0% {
        background-position: -150% 0, -150% 0
    }
    66% {
        background-position: 250% 0, -150% 0
    }
    100% {
        background-position: 250% 0, 250% 0
    }
}

.cursor-dot {
    width: 5px;
    height: 5px;
    background-color: hsl(47, 88%, 63%);
}

.cursor-outline {
    width: 30px;
    height: 30px;
    border: 2px solid hsl(47, 27%, 61%);
    /*background-color: hsla(47, 27%, 61%, 0.1);*/
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999999999999;
    pointer-events: none;
}

.container {
    margin-block: 3rem;
}

header {
    display: grid;
    place-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    user-select: all;
    color: var(--primary-text-color);

}

.card-author {
    display: inline-flex;
    align-items: center;
}

.card-author img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.card-author a {
    color: #0969da;
    text-decoration: underline;
    font-size: 1.15rem;
}

.card-author-name {
    margin-left: 1rem;
    color: var(--primary-text-color);
}

/* --------------------------- main css --------------------------- */


/* div and img styles */
.card {
    padding: 1.25rem;
    background-color: var(--background-color-secondary);
    max-width: 21.875rem;
    border-radius: .375rem;
    transition: all 0.25s ease;
    box-sizing: border-box;
    border: 1px solid var(--border-color-primary);
    color: var(--primary-text-color);
    display: grid;
}

a {
    appearance: none;
    text-decoration: none;
    color: var(--primary-text-color);
}

.card > img {
    width: 100%;
    object-fit: cover;
    background: white;
    border-radius: 0.3rem;
    height: 10rem;
    margin-bottom: .5rem;
}

.object-center > img {
    object-position: center;
}

.object-top > img {
    object-position: top;
}

.card-tag {
    display: inline-flex;
    gap: 0.5rem;
    margin-block: 0.5rem;
    max-width: 100%;
    overflow-x: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Microsoft Edge */
}

.card-tag::-webkit-scrollbar {
    display: none;
}

.card-tag img {
    height: 1.3rem;
    border-radius: .2rem;
}


/* text styles :: heading */
.card h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    font-weight: normal;
    text-transform: capitalize;
}

/* text styles :: paragraphs */

.card-description {
    margin-block: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(137, 137, 137);
    -webkit-line-clamp: 3;
}

.card-btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    align-self: end;
}

.card-btn > a {
    padding-block: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: var(--primary-text-color);
    background-color: transparent;
    outline: none;
    border: 2px solid var(--border-color-primary);
    border-radius: .375rem;
}

.card-btn > a:hover {
    border-color: rgba(255, 85, 187, 0.3);
}

.card-btn > a:focus, .card-btn > a:focus-visible {
    border-color: rgba(255, 85, 187, 0.7);
}

.card-btn > a > svg {
    height: 1rem;
    width: 1rem;
    fill: var(--primary-text-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem;
    justify-content: center;
}

@media screen and (min-width: 81.25rem) {
    main {
        margin-inline: 5rem;
    }
}

@media screen and (max-width: 81.25rem) and (min-width: 56.25rem) {
    main {
        margin-inline: 3rem;
    }
}

@media screen and (max-width: 56.25rem) {
    main {
        margin-inline: 2rem;
    }
}
